.token-heading {
  font-size: var(--medium-font);
}

.big-token-heading {
  font-size: 131px;
  line-height: 131px;
  color: var(--dark-blue);
}

.token-wrapper {
  margin-top: 300px;
  margin-bottom: 200px;
}
.number-props {
  font-size: var(--small-font);
  font-weight: bold;
  color: var(--dark-blue);
  line-height: 48px;
  margin-top: 35px;
}

.slider-container{
  margin-top: -180px;
  padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .token-heading {
    font-size: 24px;
  }
  .dash {
    width: 50px !important;
  }
  .d-img {
    width: 30% !important;
  }
  .d-img img {
    height: 70px;
  }
  .d-text {
    width: 70% !important;
  }
  .big-token-heading {
    font-size: 41px;
    line-height: 70px;
  }
  .token-wrapper {
    margin-top: 50px;
    margin-bottom: 150px;
  }
}
