.auth2 {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
}
.auth2 a {
  color: #274b89;
}
.auth2 .left {
  background: url("../assets/boxes.svg") no-repeat;
  background-size: 90%;
  background-position: 0%;
  background-position-y: 0;
  height: 100%;
  position: absolute;
  left: 0;
  padding-top: 100px;
  color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  overflow-y: auto;
}
.auth2 .left .welcome {
  font-size: 47.2431px;
  line-height: 64px;
  text-align: center;
  color: #fff;
  text-align: center;
}
.auth2 .left .spottr {
  font-weight: bold;
  font-size: 95.7132px;
  line-height: 131px;
  text-align: center;
  color: #fff;
  margin-bottom: 56px;
}
.auth2 .left .body .dis-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ecf7ff;
  margin-right: 13px;
}
.auth2 .left .body p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 158.8%;
  padding-right: 2.5rem;
  color: #c2e0ff;
}
.auth2 .right {
  height: 100%;
  position: absolute;
  background-color: #fff;
  right: 0;
  padding: 65px 77px;
}
.auth2 .right .top-navbar {
  margin-bottom: 36px;
}
.auth2 .right .top-navbar .btn-link {
  font-size: 15px;
  line-height: 20px;
  color: #274b89;
}
.auth2 .right .top-navbar .btn-link .fas {
  margin-right: 21px;
}
.auth2 .right .title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 31px;
  color: #274b89;
}
.auth2 .right .terms {
  padding: 16px 3.5rem;
  text-align: center;
  margin-bottom: 65px;
}
.auth2 .right .password-validation {
  margin-bottom: 88px;
}
.auth2 .right .password-validation span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 158.8%;
}
.auth2 .btn-forgetpassword {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  float: right;
  padding-right: 0;
  color: #274b89;
}
.auth2 .login-with .buttons {
  margin-top: 45px;
  margin-bottom: 45px;
}
.auth2 .login-with .btn {
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  padding: 15px 20px;
  font-weight: bolder;
}
.auth2 .login-with .btn.facebook {
  font-size: 16px;
  margin-right: 21px;
  text-align: center;
  color: #4267b2;
}
.auth2 .login-with .btn.google {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.auth2 .login-with .btn.google .icon {
  margin-right: 14px;
}
.auth2 .login-with .btn .icon {
  width: 23px;
}
.auth2 .btn-submit {
  background: #274b89;
  box-shadow: 0px 9px 20px rgba(171, 180, 189, 0.148862);
  border-radius: 4px;
  width: 100%;
  padding: 18px;
}
.auth2 .note {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 11.5139px;
  line-height: 158.8%;
  color: #274b89;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  margin-top: 31px;
  margin-bottom: 53px;
}
.auth2 .note .icon {
  width: 50px;
  float: left;
  margin-right: 8px;
}
.bottom {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom p {
  margin-bottom: 0;
  margin-right: 1rem;
}
.bottom p .fas {
  margin-left: 1rem;
}
.btn-auth {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14.2703px;
  line-height: 17px;
  text-align: center;
  color: #274b89;
  background: #fff;
  border-radius: 26.1622px;
  padding: 13px 33px;
}
.with-icon {
  position: relative;
}
.with-icon .icon {
  position: absolute;
  right: 20px;
  top: 22px;
  color: #c4c4c4;
  font-size: 12px;
}
.icon.check {
  position: absolute;
  right: 22px;
  top: 16px;
  width: 27px;
  height: 27px;
  background: rgba(47, 171, 72, 0.24);
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(47, 171, 72, 1);
  margin-right: 5px;
}
@media (max-width: 1024.98px) {
  .auth2 .left {
    padding-left: 16px;
    padding-right: 16px;
  }
  .auth2 .right {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 768.98px) {
  .auth2 .left {
    padding-left: 60px;
    padding-right: 60px;
  }
  .auth2 .right {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 480.98px) {
  .auth2 .left {
    padding-left: 16px;
    padding-right: 16px;
  }
  .auth2 .right {
    padding-left: 16px;
    padding-right: 16px;
  }
  .auth2 .note {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
