.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #000;
  margin-top: 100px !important;
}

.slick-next {
  font-size: 0;
  line-height: 0;
  top: -50%;
  right: 50px;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: green;
  border: none;
  outline: 0;
  background: 0 0;
}
.slick-next:before {
  content: "\003E";
  color: #000;
  font-size: 30px;
  height: 20px !important;
  width: 20px !important;
  height: 10px;
  padding: 10px 20px 20px;
  background-color: #c2e0ff;
  border-radius: 50%;
}

.slick-prev {
  display: none !important;
}

.slider-child {
  padding-right: 50px;
}

@media screen and (max-width: 900px) {
  .number-props {
    padding-top: 20px !important;
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .slick-next {
    display: none !important;
  }

  .slider-child {
    padding-right: 20px;
    padding-left: 20px;
  }
}
